@media(max-width:700px){
    #me{
        width:410px;
    }

}

.container{
    display: flex;
    flex-direction: column;
    width:50%;
    height:500px;
    margin-left:13%;
    margin-top:1%;
    font-family:Arial, Helvetica, sans-serif;
}

@media(max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
        width:375px;
        height:800px;
        margin-left:3%;
        margin-top:7%;
        font-family:Arial, Helvetica, sans-serif;
    }

}

.ab{
    text-align: center;
}

@media(max-width:700px){

   
    .ab{
        text-align: center;
    }
}

.container>h1{

    margin-top:100px;
}

@media(max-width:700px){

   
    .container>h1{
       
        margin-top:202px;
        font-size: 14px;
        text-align:justify;
        margin-left:10px;
    }
}
.container>p{
    padding-top:5px;
    font-weight: 400;
    color: grey;
}

@media(max-width:700px){

   
    .container>p{
       
        font-weight: 400;
        color: grey;
        font-size: 15px;
        margin-left:10px;
    }
}

.container>h2{
    font-weight: 700;
   font-family: cursive;
   padding: 50px;
}

@media(max-width:700px){

   
    .container>h2{
        font-weight:700;
        font-size:14px;
       font-family: cursive;
       padding-top:10px;
    }
}

.image7>img{
    display:flex;
    flex-direction: row;
    align-items: end;
    width:500px;
    height:400px;
    margin-left:970px;
    margin-top:-400px;
    padding:0px;
    animation-name:about;
    transition-duration:1s;
    transition:1s;

}

@media(max-width:700px){

   
    .image7>img{
        display:flex;
        flex-direction: row;
        align-items: end;
        width:410px;
        height:200px;
        margin-left:1px;
        margin-top:-812px;
        padding:0px;
        animation-name:about;
        transition-duration:1s;
        transition:1s;
        position:absolute;
    
    }
}
