.Text1>h1{
    margin-top:3%;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

@media(max-width:700px){

.Text1>h1{
        margin-top:-530px;
        text-align: center;
        font-weight: bolder;
        font-size: 25px;
    }
}

.Text1>h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#6c7a89;
    padding:30px;
    text-align: center;
}
@media(max-width:700px){

    .Text1>h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:#6c7a89;
        padding:30px;
        text-align: center;
    }
    }


.Text1>p{
    padding:20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@media(max-width:700px){

    .Text1>p{
        padding:20px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    }


.slides{

    border-top:1px solid gray;
 display: flex;
 justify-content: center;

    margin-top:10px;
}
 .main{
    margin-top:10px;
    border-radius:auto;
 }

 @media(max-width:700px){

    .main{
        margin-top:10px;
        border-radius:auto;
     }
    
    }