.blog{
     display:flex;
     flex-direction: row;
     justify-content:space-between;
     flex-wrap: nowrap;
     align-items: stretch;
     padding:20px;
     gap:20px;
     align-items: center;
    width:411dp;
    height:500px;
    margin-left:150px;
}

@media(max-width:700px){
    
    .blog{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: nowrap;
        align-items:center;
        padding: 5px;
        gap:5px;
        align-items: center;
       width:250px;
       height:250px;
       margin-left:50px;
   }
}


.box3{
    display: flex;
    flex-wrap:wrap;

}

@media(max-width:700px){
    
    .box3{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    
    }
}
.box3>img{
    width:300px;
    height:400px;
    margin-top:-10px;
}
@media(max-width:700px){
    
    .box3>img{
        width:120px;
        height:180px;
        margin-top:-65px;
        margin-left:10px;
    }
}


.box3>h3{
    margin-top:-106px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

@media(max-width:700px){
    
    .box3>h3{
        margin-top:-106px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size:7px;
    }
}

.font{
    margin-top: 3%;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

@media(max-width:700px){
    
    .font{
        margin-top: 3%;
        text-align: center;
        font-weight: bolder;
        font-size: 25px;
    }
}

