.email{
    background-color:purple;
    box-shadow:black;
    height:300px;

}

@media(max-width:700px){
    
    .email{
        background-color:purple;
        box-shadow:black;
        height:300px;
        width:624px;
    }
}

.qoute{
    margin-top: 3%;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color:white;
}

@media(max-width:700px){
    
    .qoute{
        margin-top: 3%;
        text-align: center;
        font-weight: bolder;
        font-size: 35px;
        color:white;
    }
}
.email>p{
    margin-top: 3%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color:white;
}

.email>input{
   padding-left: 76px;
    margin-top: 15px;
    margin-left:620px;
    height:48px;
    border-color:black;
    
}

@media(max-width:700px){
    
    .email>input{
        padding-left: 76px;
         margin-top: 15px;
         margin-left:190px;
         height:48px;
         border-color:black;
         
     }
}

button{
    padding: 20px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 0px;
    color: #fff;
    height: 43px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    margin-left:10px;
    margin-top:50px;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
}
@media(max-width:700px){
    button{
    padding: 20px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 0px;
    color: #fff;
    height: 43px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    margin-left:245px;
    margin-top:18px;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
}
}

.center{
    height:300px;
    background-image:url(https://timelinecovers.pro/facebook-cover/download/real-estate-skyscrapers-facebook-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:700px){
    
    .center{
        height:150px;
        background-image:url(https://timelinecovers.pro/facebook-cover/download/real-estate-skyscrapers-facebook-cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.center>h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:70px;
    list-style:none;

}

@media(max-width:700px){
    
    .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:35px;
    
    }
}

 

.container10{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: baseline;
    margin-top:100px;

}

@media(max-width:700px){
    
    .container10{
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        align-items: baseline;
        margin-top:25px;
        width:624px;
        gap:30px;
    
    }
}
.row1,.row2,.row3,.row4{
    display:flex;
    flex-direction: column;

    
}
h4{
    font-size:20px;
    padding-bottom:30px;
}


@media(max-width:700px){
    
    h4{
        font-size:15px;
        padding-bottom:30px;
    
    }
}


a,li,h6{
    font-size:20px;
    padding-top:10px;
}

@media(max-width:700px){
    
    a,li,h6{
        font-size:15px;
        padding-top:10px;
    }
}
.container7 {

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: blue;
    justify-items: center;
    height: 30px;
    margin-top:70px;
    


}

@media(max-width:700px){
    
    .container7 {

        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        background-color:green;
        justify-items: center;
        height: 30px;
        width:624px;
        margin-top:30px;
        
    
    
    }
}

.item4 {

    padding-right: 20px;
    color: white;
    font-size: 18px;
    margin-left: 119px;
}
@media(max-width:700px){
    
    .item4 {

        padding-right: 20px;
        color: white;
        font-size: 12px;
        margin-left:5px;
        
    }
}


.item5 {

    padding-right: 20px;
    color: white;
    font-size: 18px;
    margin-left: 0px;
}

@media(max-width:700px){
    
    .item5 {

        padding-right: 20px;
        color: white;
        font-size: 12px;
        margin-left: 0px;
    }
}

.item6 {
    display: flex;
    gap:10px;
    color: white;
    font-size: 18px;
    margin-left:660px;
    padding: 7px;
    
}

@media(max-width:700px){
    
    .item6 {
        display: flex;
        gap:10px;
        color: white;
        font-size: 12px;
        margin-left:450px;
        margin-top:-20px;
        padding: 0px;
        
    }
}