.container1 {

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: blue;
    justify-items: center;
    height: 30px;
    


}@media(max-width:700px){
    .container1{

        background-color:green;
        width:624px;
        height:42px;
        
    }

}



.A{

    padding-right: 10px;
    color: white;
    font-size: 18px;
    margin-left: 119px;
    margin-top:10px;
}

@media(max-width:700px){
    .A{

        padding-right: 10px;
        color: white;
        font-size: 10px;
        margin-left: 20px;
        margin-top:15px;
    }

}

.c {

    display:flex;
    justify-content:space-between;
    gap:10px;
    color: white;
    font-size: 18px;
    margin-left:660px;
    padding: 7px;
    
}
@media(max-width:700px){
    .c{
        display:flex;
        justify-content:space-between;
        gap:10px;
        padding-left: 15px;
        color: white;
        font-size: 10px;
        margin-left:175px;
        margin-top:-10px;
    }

}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    height:75px;
    color:black;
    background-color:white;
}
@media(max-width:700px){
    .navbar{

        display: flex;
        justify-content:space-around ;
        align-items: center;
        height:65px;
        color:black;
        background-color:white;
    }

}

.nav-links {

    display: flex;
    justify-content: center;
    list-style:none;
    width:75%;
}

@media(max-width:700px){
    .nav-links{
        display: flex;
        justify-content: center;
        list-style:none;
        width:400px;
    }

}

.Home,.About,.Agents,.Properties,.Blog,.Contact{

    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding:10px 20px;
    margin: 0,10;
    cursor: pointer;
    margin-left:10px;
}
@media(max-width:700px){
    .Home,.About,.Agents,.Properties,.Blog,.Contact{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    padding:5px 5px;
    margin: 0,10;
    cursor: pointer;
    margin-left:10px;
    }

}


.Home:hover,.About:hover,.Agents:hover,.Properties:hover,.Blog:hover,.Contact:hover{
 background-color: black;
 color: white;
}


.logo{
    margin-left:162px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width:700px){
    .logo{
        margin-left:15px;
        font-size: small;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media(max-width:700px){
    .Home>li,.About>li,.Agents>li,.Properties>li,.Blog>li,.Contact>li{
       font-size: 8px;
       padding:0px;
    }

}



.Container3{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width: auto;
    height:1000px;
    color:white;
 background-image: url(https://images.unsplash.com/photo-1582407947304-fd86f028f716?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHx8MA%3D%3D);
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

}
@media(max-width:700px){
    .Container3{
        display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width:624px;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1534237710431-e2fc698436d0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

    }

}

.Container3>h1{
    font-size:50px;
    margin-top:10px;
}
@media(max-width:700px){
    .Container3>h1{
        font-size:15px;
        margin-top:10px;
    }

}

.Container3>h4{
    font-size: 30px;
    margin-top:500px;
}

.button>button{
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    margin-left:10px;
    margin-top:10px;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
}

.card2>img{
    width:auto;
    height:1000px;
    

}

.slick-dots{

    margin-top:10px;
}

.Container4{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width: auto;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1565402170291-8491f14678db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHx8MA%3D%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

}

@media(max-width:700px){
    .Container4{
        display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width:624px;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1554469384-e58fac16e23a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

    }

}

.Container4>h1{
    font-size:50px;
    margin-top:10px;
}

@media(max-width:700px){
    .Container4>h1{
        font-size:15px;
        margin-top:10px;
    }

}

.Container4>h4{
    font-size: 30px;
    margin-top:500px;
}

.Container5{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width: auto;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHx8MA%3D%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

}
@media(max-width:700px){
    .Container5{
        display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width: 624px;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1494145904049-0dca59b4bbad?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

    }

}

.Container5>h1{
    font-size:50px;
    margin-top:10px;
}

@media(max-width:700px){
    .Container5>h1{
        font-size:15px;
        margin-top:10px;
    }

}

.Container5>h4{
    font-size: 30px;
    margin-top:500px;
}

.Container6{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width:auto;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8fDA%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

}

@media(max-width:700px){
    .Container6{
        display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width:624px;
    height:1000px;
    color:white;
 background-image: url("https://images.unsplash.com/photo-1470075801209-17f9ec0cada6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D");
 background-repeat:no-repeat;
 background-size: cover;
 margin-top:-10px;

    }

}

.Container6>h1{
    font-size:50px;
    margin-top:10px;
}
@media(max-width:700px){
    .Container6>h1{
        font-size:15px;
        margin-top:10px;
    }

}

.Container6>h4{
    font-size: 30px;
    margin-top:500px;
}